body {
  margin: 20px;
  padding: 20px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  position: relative;
  top: 50%;
  font-size: 14px;
  margin: 10px;
  padding: 8px 14px;
  border: 2px solid blue;
  border-radius: 3px;
}

li {
  list-style-type: none;
}
